body {
  text-align: center;
  text-transform: uppercase;
}

header {
  font-size: 16px;
}

footer {
  color: #727f8d;
  font-family: "Roboto Mono", monospace;
  font-size: 12px;
  text-transform: none;
}

h1 {
  font-size: 24px;
}

ul {
  list-style: none;
  padding: 0;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.weather-app {
  background: #6c757d;
  border-radius: 4px;
  color: #fff;
  font-family: "Montserrat", sans-serif;
  margin: 20px auto 10px auto;
  max-width: 500px;
  padding: 20px 30px;
}

.convert {
  text-align: right;
}

.today,
.forecast {
  margin-top: 10px;
}

.today-icon {
  font-size: 96px;
  line-height: 120px;
}

.today-current,
.today-weather {
  text-align: left;
}

.today-current {
  font-size: 60px;
  line-height: 40px;
}

.degrees {
  font-size: 16px;
  position: relative;
  top: -30px;
}

.today-weather {
  font-size: 16px;
  font-weight: 300;
  line-height: 24px;
}

.forecast {
  text-align: center;
  margin-bottom: 10px;
}

.forecast-day {
  font-size: 16px;
  font-weight: 500;
}

.forecast-icon {
  font-size: 36px;
}

.forecast-range {
  font-size: 14px;
}

.forecast-high {
  font-weight: 500;
}

.input-group-text {
  background: transparent;
  border: none;
  color: #fff;
}
