body {
  background-image: url(../images/BackgroundTeal.jpg);
}

footer {
  color: #727f8d;
  font-family: "Roboto Mono", monospace;
  font-size: 12px;
  font-weight: 300;
  text-align: center;
}

h1 {
  font-size: 36px;
  margin-top: 10px;
}

ul {
  list-style: none;
  padding: 0;
}

img {
  display: block;
  height: 40px;
  margin: 10px auto;
}

a:hover {
  text-decoration: none;
}

.weather-app {
  background: #f7f5de;
  border-radius: 60px;
  color: #74664b;
  font-family: "Mallanna", sans-serif;
  text-align: center;
  margin: 10px auto;
  max-width: 400px;
  padding: 30px 30px 40px 30px;
}

.info {
  font-size: 16px;
  color: #9f8f6e;
}

.convert {
  text-align: left;
}

.today-icon {
  font-size: 96px;
  margin-bottom: 10px;
}

.today-current {
  font-size: 60px;
  line-height: normal;
}

.degrees {
  font-size: 16px;
  position: relative;
  top: -30px;
}

.today-weather {
  font-size: 16px;
  font-weight: 300;
  text-align: left;
}

.forecast {
  margin-top: 10px;
}

.forecast-day {
  font-size: 16px;
  font-weight: 500;
}

.forecast-icon {
  font-size: 36px;
}

.forecast-range {
  font-size: 12px;
}

.forecast-high {
  font-weight: 500;
}

.search-buttons {
  background: transparent;
  border: none;
  color: #74664b;
}

.search-input {
  border: none;
}
