header {
  font-size: 16px;
  font-weight: 300;
}

footer {
  color: #727f8d;
  font-family: "Roboto Mono", monospace;
  font-size: 12px;
  font-weight: 300;
  text-align: center;
}

h1 {
  font-size: 36px;
  margin-top: 10px;
}

ul {
  list-style: none;
  padding: 0;
}

a:hover {
  text-decoration: none;
}

.weather-app {
  background: #6c757d;
  border-radius: 4px;
  color: #fff;
  font-family: "Montserrat", sans-serif;
  text-align: center;
  margin: 20px auto 10px auto;
  max-width: 450px;
  padding: 20px 30px;
  text-transform: uppercase;
}

.convert {
  text-align: right;
}

.today-icon {
  font-size: 96px;
  margin-bottom: 10px;
}

.today-current {
  font-size: 60px;
  line-height: normal;
}

.degrees {
  font-size: 16px;
  position: relative;
  top: -30px;
}

.today-weather {
  font-size: 16px;
  font-weight: 300;
  text-align: left;
}

.forecast-day {
  font-size: 16px;
  font-weight: 500;
}

.forecast-icon {
  font-size: 36px;
}

.forecast-range {
  font-size: 14px;
}

.forecast-high {
  font-weight: 500;
}

.search-buttons {
  background: transparent;
  border: none;
  color: #fff;
}
